@import "./normalize.css";
@import "./settings.css";
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.visially-hidden {
  width: 1px;
  height: 0;
  position: absolute;
  top: 1px;
  left: -9999px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.wr-header {
  width: 100%;
}
.wr-header .logo-contact {
  list-style: none;
  margin: 0;
  padding-top: 32px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  background-color: #262626;
  min-height: 105px;
  font-family: poppins, sans-serif;
}
.main-header p {
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.17px;
}
.main-header span {
  font-weight: 500;
  color: #7ac34c;
  font-size: 15px;
}
.main-header p, .main-header span {
  display: block;
  margin: 0;
}

.address-li-item,
.email-li-item,
.call-us-li-item {
  position: relative;
  padding-left: 30px;
  padding-top: 18px;
}

.address-li-item a:before {
  content: url(../media/placeholder.png);
  position: absolute;
  top: 25px;
  left: 10px;
}

.email-li-item a:before {
  content: url(../media/email.png);
  position: absolute;
  top: 25px;
  left: 0;
}

.call-us-li-item a:before {
  content: url(../media/call-logo.png);
  position: absolute;
  top: 25px;
  left: 0;
}

.img-li-item {
  margin-right: 125px;
}

.address-li-item {
  margin-left: 125px;
}

.email-li-item {
  margin-left: 7px;
}

.call-us-li-item {
  margin-left: 11px;
}

.container.navigation {
  box-sizing: border-box;
  height: 42px;
}
.container.navigation a {
  padding: 5px;
}

.social-nav-header,
.main-nav,
.main-nav ul {
  display: flex;
  align-items: center;
}

.social-nav-header {
  margin: 0 240px 0 16px;
}
.social-nav-header li {
  margin: 0 6px;
  padding: 0;
}

.main-nav {
  width: 538px;
}
.main-nav ul {
  width: 100%;
  justify-content: space-between;
}
.main-nav a {
  display: inline-block;
  font-family: poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 5px;
}

.first-screen {
  background-image: url("../media/bg-first.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 482px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 114px;
}
.first-screen .container {
  display: block;
  margin: 0 0 0 24%;
  max-width: 430px;
  color: #fff;
  background-color: f9f9f9;
}
.first-screen .container p {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.first-screen .container h2 {
  font-family: oswald, sans-serif;
  font-weight: 700;
  font-size: 47px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

a.more-inf {
  display: inline-block;
  font-family: oswald, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  padding: 14px 20px;
  background-color: #7ac34c;
  color: #fff;
}

.creation {
  min-height: 530px;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: -1px;
}
.creation h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  position: relative;
}
.creation h3::after {
  position: absolute;
  content: " ";
  width: 115px;
  height: 3px;
  background-color: #7ac34c;
  bottom: -13px;
  left: calc(50% - 58px);
}
.creation p {
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 3px 10px;
  margin: 0 10px;
  margin-bottom: 45px;
}
.creation h4 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 25px;
}
.creation img {
  height: 51px;
  margin-bottom: 35px;
}

.wr-about {
  min-height: 500px;
  margin-bottom: 65px;
}
.wr-about .container {
  justify-content: flex-end;
  background-image: url("../media/bg-about-people.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.about {
  display: flex;
  flex-direction: column;
  flex-basis: 43%;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
}
.about h2, .about h3 {
  text-transform: uppercase;
  font-weight: 400;
}
.about h2 {
  font-family: oswald, sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}
.about h3 {
  font-family: "sfpro regular", sans-serif;
  font-size: 24px;
  color: #98d074;
  margin-bottom: 15px;
}
.about p {
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #808080;
  margin-bottom: 30px;
}
.about a {
  font-size: 19px;
  font-weight: 400;
}

.projects {
  width: 100%;
  min-height: 900px;
  margin-bottom: 75px;
  text-align: center;
}
.projects h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.projects p {
  font-family: Raleway, sans-serif;
  font-size: 16;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.projects div {
  display: inline-block;
  width: 420px;
  height: 320px;
  margin: 7px;
}
.projects .more-inf {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: max-content;
  margin: 50px auto 0;
}

.team {
  min-height: 515px;
  display: block;
}
.team h3, .team p {
  margin: 0 auto;
}
.team h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.team p {
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 35px;
}
.team .staff {
  display: flex;
  flex-basis: 20%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team .staff img {
  margin-bottom: 15px;
}
.team .staff h4 {
  font-family: oswald, sans-serif;
  font-size: 23px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}
.team .staff p {
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.work-organizing {
  min-height: 670px;
  background-color: #7bc34d;
  padding-top: 100px;
  margin-bottom: 60px;
}
.work-organizing h3, .work-organizing p {
  margin: 0 auto;
}
.work-organizing h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.work-organizing h3::after {
  position: absolute;
  content: " ";
  width: 115px;
  height: 3px;
  background-color: #ffffff;
  bottom: -13px;
  left: calc(50% - 58px);
}
.work-organizing p {
  font-family: poppins, sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.work-organizing > p {
  font-family: Raleway, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 95px;
}
.work-organizing .container {
  justify-content: space-between;
}
.work-organizing .container div {
  flex-basis: 20%;
  background-color: #ffffff;
  border: 5px solid;
  border-radius: 8px;
  padding: 40px 10px;
  text-align: center;
}
.work-organizing .container div:first-child {
  border-color: #bb64ba;
}
.work-organizing .container div:nth-child(2) {
  border-color: #4c8ec6;
}
.work-organizing .container div:nth-child(3) {
  border-color: #4dc3c0;
}
.work-organizing .container div:nth-child(4) {
  border-color: #e0416e;
}
.work-organizing .container h4 {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-bottom: 15px;
}
.work-organizing img {
  height: 40px;
  margin-bottom: 15px;
}

.feedback {
  min-height: 410px;
  padding-top: 25px;
  flex-direction: column;
  align-content: center;
}
.feedback h3 {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
.feedback h4 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 15px 7px 5px;
  letter-spacing: 1px;
}
.feedback span {
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #a6a5a5;
}
.feedback p {
  clear: both;
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: #808080;
  padding: 0 5px;
}
.feedback img {
  float: left;
  margin: 7px;
}

.blog {
  min-height: 1350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.blog .container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.blog .container > div {
  box-sizing: border-box;
  max-width: 30%;
  border: 5px solid #93c948;
  margin-bottom: 75px;
}
.blog h3 {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.blog h3 + p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 60px;
}
.blog .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 245px;
  overflow: hidden;
}

.blog-contents {
  padding: 15px 30px;
  text-align: justify;
}
.blog-contents h4 {
  font-family: raleway, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 33px;
  color: #585858;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-contents h4:hover {
  overflow: visible;
  white-space: normal;
  margin-bottom: 10px;
}
.blog-contents p {
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #5c5c5c;
  text-align: justify;
  margin-bottom: 15px;
}
.blog-contents .more-inf {
  box-sizing: border-box;
  padding: 5px 19px 5px 10px;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: 400;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
.blog-contents .more-inf::after {
  position: absolute;
  content: " ";
  background-image: url("../media/rarr.png");
  width: 20px;
  height: 6px;
  top: 16px;
}
.blog-contents .admin {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 5px;
  color: #93c948;
  float: right;
}

a.blog-btn {
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
}

.faq {
  flex-direction: column;
  min-height: 760px;
  align-items: center;
}
.faq > h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 33px;
  margin-bottom: 15px;
}
.faq > p {
  font-family: raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 85px;
  color: #585858;
}
.faq .ui-accordion-header-active,
.faq .ui-button:active,
.faq .ui-state-active {
  background-color: #93c948;
  border-color: #7bc34d;
}

.ui-accordion .ui-accordion-header {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.clients {
  background-color: #71bf3f;
  min-height: 520px;
  display: flex;
  align-items: center;
}
.clients h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  flex-basis: 40%;
  text-align: center;
}
.clients .container {
  align-items: center;
}
.clients .container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 300px;
}
.clients .container a {
  padding: 5px;
}
.clients .container a:nth-child(2) {
  padding: 25px;
}
.clients .container a:nth-child(5) {
  padding-top: 45px;
}

.message {
  background-color: #d65e70;
  min-height: 460px;
}

footer {
  background-color: #262626;
  min-height: 385px;
}

/*# sourceMappingURL=style.css.map */
