@import "./normalize.css";
@import "./settings.css";
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.visually-hidden {
  width: 1px;
  height: 0;
  position: absolute;
  top: 1px;
  left: -9999px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.wr-header {
  position: relative;
}
.wr-header .logo-contact {
  max-width: 504px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.wr-header::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(155, 72, 72, 0.1);
  z-index: 0;
}
@media (max-width: 768px) {
  .wr-header .mob-nav {
    display: none;
  }
}

.main-header {
  display: flex;
  background-color: #262626;
  min-height: 105px;
  font-family: poppins, sans-serif;
}

.centering-wrapper {
  display: flex;
  max-width: 932px;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
.centering-wrapper .logo {
  padding: 10px;
}
.centering-wrapper .container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.centering-wrapper p {
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.17px;
}
.centering-wrapper span {
  font-weight: 500;
  color: #7ac34c;
  font-size: 15px;
}
.centering-wrapper p, .centering-wrapper span {
  display: block;
  margin: 0;
}
.centering-wrapper ul a {
  position: relative;
}

.address-li-item a:before {
  content: url(../media/placeholder.png);
  position: absolute;
  left: -20px;
  top: 5px;
}

.email-li-item a:before {
  content: url(../media/email.png);
  position: absolute;
  top: 5px;
  left: -30px;
}

.call-us-li-item {
  margin-right: 10px;
}
.call-us-li-item a:before {
  content: url(../media/call-logo.png);
  position: absolute;
  top: 4px;
  left: -30px;
}

.container.navigation {
  box-sizing: border-box;
  min-height: 42px;
  justify-content: space-between;
}
.container.navigation a {
  padding: 5px;
}

.social-nav-header,
.main-nav,
.main-nav ul {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .social-nav-header,
.main-nav,
.main-nav ul {
    display: block;
  }
}

.social-nav-header {
  max-width: 155px;
  width: 100%;
  justify-content: flex-end;
  align-items: baseline;
}
.social-nav-header i {
  font-size: 16px;
  color: #808080;
}
.social-nav-header i:hover {
  color: #000;
  transform: scale(1.1);
}
.social-nav-header a {
  padding: 5px;
}
.social-nav-header li {
  padding: 0;
  margin-left: 12px;
}

.main-nav {
  max-width: 530px;
  width: 100%;
}
.main-nav .toggler {
  display: none;
}
@media (max-width: 768px) {
  .main-nav .toggler {
    display: block;
    position: relative;
    z-index: 3;
  }
}
.main-nav ul {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-nav a {
  display: inline-block;
  font-family: poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 5px;
}

.respond {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.first-screen {
  background-image: url("../media/bg-first.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 146px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 114px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .first-screen {
    height: auto;
    margin-bottom: 20px;
  }
}
.first-screen::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.first-screen .container {
  display: block;
  margin-left: 24%;
  max-width: 430px;
  color: #f9f9f9;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 970px) {
  .first-screen .container {
    margin-left: 2%;
  }
}
.first-screen .container p {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.first-screen .container h2 {
  font-family: oswald, sans-serif;
  font-weight: 700;
  font-size: 47px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

a.more-inf {
  display: inline-block;
  font-family: oswald, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  padding: 14px 20px;
  background-color: #93c948;
  color: #fff;
}
a.more-inf:hover {
  background-color: #7ac34c;
}
a.more-inf:active {
  background-color: #6bb83b;
  transform: translateY(4px);
}

.creation {
  display: block;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 160px;
}
@media screen and (max-width: 991px) {
  .creation {
    margin-bottom: 15px;
  }
}
.creation .container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .creation .container {
    justify-content: space-around;
  }
}
.creation .container div {
  flex-basis: 25%;
}
@media screen and (max-width: 991px) {
  .creation .container div {
    flex-basis: 40%;
  }
}
.creation h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -1px;
  margin-bottom: 27px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .creation h3 {
    margin-bottom: 15px;
  }
}
.creation h3::after {
  position: absolute;
  content: " ";
  width: 115px;
  height: 3px;
  background-color: #7ac34c;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
}
.creation p {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 3px 10px;
  margin: 0 10px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .creation p {
    margin-bottom: 20px;
  }
}
.creation h4 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  .creation h4 {
    margin-bottom: 15px;
  }
}
.creation h4 + p {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .creation h4 + p {
    margin-bottom: 15px;
  }
}
.creation img {
  height: 51px;
  margin-bottom: 35px;
}
@media screen and (max-width: 991px) {
  .creation img {
    margin-bottom: 15px;
  }
}

.wr-about {
  margin-bottom: 123px;
}
@media screen and (max-width: 991px) {
  .wr-about {
    margin-bottom: 20px;
  }
}
.wr-about .container {
  justify-content: flex-end;
  background-image: url("../media/bg-about-people.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 991px) {
  .wr-about .container {
    background-image: none;
  }
}
.wr-about .about {
  display: flex;
  flex-direction: column;
  flex-basis: 43%;
  padding-top: 10px;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 991px) {
  .wr-about .about {
    flex-basis: 100%;
    align-items: center;
    padding: 10px;
  }
}
.wr-about .about h2, .wr-about .about h3 {
  text-transform: uppercase;
  font-weight: 400;
}
.wr-about .about h2 {
  font-family: oswald, sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
}
.wr-about .about h3 {
  font-family: "sfpro regular", sans-serif;
  font-size: 24px;
  color: #98d074;
  margin-bottom: 10px;
}
.wr-about .about p {
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #808080;
  margin-bottom: 30px;
}
.wr-about .about a {
  font-size: 19px;
  font-weight: 400;
}

.projects {
  max-width: 1400px;
  margin-bottom: 75px;
}
@media screen and (max-width: 991px) {
  .projects {
    margin-bottom: 20px;
  }
}
.projects .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .img-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 55px;
  justify-content: space-around;
}
@media screen and (max-width: 991px) {
  .projects .img-wrapper {
    margin-bottom: 20px;
  }
}
.projects .img-wrapper div {
  flex-basis: 32%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.projects .img-wrapper div::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #98d074;
  z-index: -5;
}
.projects .img-wrapper img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition-duration: 0.5s;
}
.projects .img-wrapper img:hover {
  transform: translate(-10px, -6px);
}
.projects h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
.projects p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .projects p {
    margin-bottom: 20px;
  }
}
.projects .more-inf {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  width: max-content;
}

.team {
  display: block;
  margin-bottom: 83px;
}
.team h3, .team p {
  text-align: center;
}
.team h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.team p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 35px;
}
.team .staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team .staff div {
  flex-basis: 20%;
}
.team .staff img {
  margin-bottom: 15px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}
.team .staff h4 {
  font-family: oswald, sans-serif;
  font-size: 23px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}
@media screen and (max-width: 970px) {
  .team .staff h4 {
    display: flex;
  }
}
.team .staff p {
  font-weight: 400;
  color: #808080;
  margin-bottom: 0;
}
@media screen and (max-width: 970px) {
  .team .staff p {
    display: flex;
  }
}

.work-organizing {
  padding: 96px 0 150px;
  margin-bottom: 61px;
  background-image: url("../media/bg-our_work.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 991px) {
  .work-organizing {
    padding: 20px 0 80px;
    margin-bottom: 5px;
  }
}
.work-organizing h3, .work-organizing p {
  text-align: center;
}
.work-organizing h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.work-organizing h3::after {
  position: absolute;
  content: " ";
  width: 115px;
  height: 3px;
  background-color: #ffffff;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
}
.work-organizing p {
  font-family: poppins, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.work-organizing > p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 95px;
}
.work-organizing .container {
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 991px) {
  .work-organizing .container {
    justify-content: space-around;
  }
}
.work-organizing .container div {
  flex-basis: 20%;
  background-color: #ffffff;
  border: 5px solid;
  border-radius: 8px;
  padding: 40px 10px 35px;
  text-align: center;
}
.work-organizing .container div:first-child {
  border-color: #bb64ba;
}
.work-organizing .container div:nth-child(2) {
  border-color: #4c8ec6;
}
.work-organizing .container div:nth-child(3) {
  border-color: #4dc3c0;
}
.work-organizing .container div:nth-child(4) {
  border-color: #e0416e;
}
.work-organizing .container h4 {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin-bottom: 15px;
}
.work-organizing img {
  height: 40px;
  margin-bottom: 15px;
}

.feedback {
  padding-top: 25px;
  flex-direction: column;
  align-content: center;
  margin-bottom: 102px;
}
@media screen and (max-width: 991px) {
  .feedback {
    margin-bottom: 40px;
  }
}
.feedback h3 {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 72px;
}
@media screen and (max-width: 991px) {
  .feedback h3 {
    margin-bottom: 20px;
  }
}
.feedback .responsive {
  max-width: 90%;
  margin: 0 auto;
}
.feedback .feedback-item-wr {
  max-width: 35%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 15px;
}
.feedback .feedback-item-wr .name-post {
  flex-shrink: 1;
}
.feedback .feedback-item-wr img {
  margin-right: 5px;
  height: 40px;
  width: 60px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ffffff;
}
.feedback .slick-prev,
.feedback .slick-next,
.feedback .slick-prev:before,
.feedback .slick-next:before {
  content: " ";
  position: absolute;
  display: none;
  font-size: 0;
}
.feedback .slick-list {
  margin-bottom: 57px;
}
@media screen and (max-width: 991px) {
  .feedback .slick-list {
    margin-bottom: 20px;
  }
}
.feedback .slick-dots li button:before {
  font-size: 15px;
  color: #7bc34d;
}
.feedback h4 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.feedback span {
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #a6a5a5;
}
.feedback p {
  clear: both;
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: #808080;
  padding: 0 5px;
}

.blog {
  text-align: center;
  margin-bottom: 78px;
}
@media screen and (max-width: 991px) {
  .blog {
    margin-bottom: 30px;
  }
}
.blog .container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.blog .container > div {
  box-sizing: border-box;
  width: 30%;
  border: 5px solid #93c948;
  margin-bottom: 78px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .blog .container > div {
    margin-bottom: 20px;
  }
}
.blog h3 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
@media screen and (max-width: 991px) {
  .blog h3 {
    margin-bottom: 20px;
  }
}
.blog h3 + p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 60px;
}
@media screen and (max-width: 991px) {
  .blog h3 + p {
    margin-bottom: 20px;
  }
}
.blog .img-wrapper {
  max-height: 51%;
  overflow: hidden;
}
.blog .img-wrapper img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.blog .date {
  position: absolute;
  top: 153px;
  width: 42px;
  height: 91px;
  background-color: #8dc63f;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
.blog .date .day {
  font-size: 36px;
  font-weight: 900;
}
.blog .date .month {
  font-size: 24px;
}
.blog .date .year {
  font-size: 18px;
}

.blog-contents {
  padding: 10px 20px 10px 40px;
  display: flex;
  flex-direction: column;
}
.blog-contents h4 {
  font-family: Oswald, sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.94px;
  color: #585858;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 42px;
}
.blog-contents h4:hover {
  overflow: visible;
  white-space: normal;
  margin-bottom: 10px;
}
.blog-contents p {
  font-family: oswald, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.55px;
  color: #5c5c5c;
  text-align: left;
  line-height: 125%;
  margin-bottom: 8px;
}
.blog-contents .inf-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-contents .more-inf {
  box-sizing: border-box;
  padding: 5px 24px 2px 10px;
  text-transform: uppercase;
  border-radius: 20px;
  position: relative;
}
.blog-contents .more-inf::after {
  position: absolute;
  content: " ";
  background-image: url("../media/rarr.png");
  width: 18px;
  height: 6px;
  top: 16px;
}
.blog-contents .admin {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 5px;
  color: #93c948;
}
.blog-contents .admin:hover {
  background-color: #cdee9f;
}

a.blog-btn {
  font-weight: 500;
  font-size: 23px;
  text-transform: uppercase;
}

.faq {
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .faq {
    margin-bottom: 50px;
  }
}
.faq .collapsable-menu {
  display: flex;
  justify-content: space-between;
}
.faq::after {
  content: " ";
  width: 100%;
  height: 510px;
  background-color: transparent;
}
@media screen and (max-width: 991px) {
  .faq::after {
    display: none;
  }
}
.faq .collapsable-menu {
  max-height: 100px;
}
@media screen and (max-width: 991px) {
  .faq .collapsable-menu {
    max-height: initial;
  }
}
.faq .accordion {
  flex-basis: 48%;
}
@media screen and (max-width: 991px) {
  .faq .accordion {
    flex-basis: 90%;
  }
}
.faq .accordion h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 23px;
}
.faq .accordion p {
  font-family: SFProDisplay;
  font-size: 20px;
  line-height: 1.56;
  text-align: left;
  color: #8d8c8c;
}
.faq > h3 {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 33px;
  margin-bottom: 15px;
  outline-color: #71bf3f;
}
.faq > p {
  font-family: raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 85px;
  color: #585858;
}
@media screen and (max-width: 991px) {
  .faq > p {
    margin-bottom: 15px;
  }
}
.faq .ui-accordion-header-active,
.faq .ui-button:active,
.faq .ui-state-active {
  background-color: #93c948;
  border-color: #7bc34d;
}
.faq .ui-accordion .ui-accordion-header {
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
  outline-color: #71bf3f;
}
.faq .ui-widget-content, .faq .ui-accordion-content-active {
  height: 260px;
  overflow: auto;
}
@media screen and (max-width: 991px) {
  .faq .collapsable-menu {
    justify-content: space-around;
  }
}
@media screen and (max-width: 991px) {
  .faq #accordion-col-2 {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .faq .accordion-col-2 {
    display: none;
  }
}

.clients {
  background-image: url("../media/bg-our_clients.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 139px;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .clients {
    padding-top: 20px;
  }
}
.clients .heading-wrapper {
  padding-top: 90px;
  align-self: flex-start;
  flex-basis: 40%;
}
@media screen and (max-width: 991px) {
  .clients .heading-wrapper {
    padding-top: 20px;
    align-self: center;
  }
}
.clients h3 {
  display: block;
  font-family: oswald, sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.clients .container {
  align-items: center;
  max-width: 1220px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .clients .container {
    flex-direction: column;
    justify-content: space-around;
  }
}
.clients .container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .clients .container div {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
.clients .container a {
  margin-bottom: 70px;
  padding: 5px;
}
.clients .container a:nth-child(2) {
  padding: 25px;
}
.clients .container a:nth-child(5) {
  padding-top: 45px;
}
.clients .container a:hover {
  box-shadow: 0 0 10px #fff;
}

.message {
  background-image: url("../media/bg-message.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 460px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}
.message::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(6, 6, 6, 0.7);
  z-index: -1;
}
.message .container {
  justify-content: space-between;
  position: relative;
  z-index: 5;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .message .container {
    text-align: center;
  }
}
.message .container .adress {
  display: flex;
  flex-basis: 40%;
  min-width: 320px;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  padding: 87px 0 0 15px;
}
@media screen and (max-width: 991px) {
  .message .container .adress {
    padding: 20px 10px;
    flex-basis: 100%;
  }
}
.message .container .message-form {
  flex-basis: 50%;
  padding-top: 125px;
  font-family: Poppins, sans-serif;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .message .container .message-form {
    padding: 20px 10px;
    flex-basis: 100%;
  }
}
.message .container .message-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}
.message .container .message-form input {
  max-width: 30%;
}
.message .container .message-form input.more-inf {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  background-color: #93c948;
  color: #fff;
  font-size: 18.5px;
  max-width: fit-content;
  padding: 10px 25px;
  border-bottom: none;
  border-radius: 25px;
  margin: 0 auto;
}
.message .container .message-form input, .message .container .message-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 400;
}
.message .container .message-form textarea {
  resize: none;
}
.message .container h3, .message .container h4 {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
}
.message .container h4 {
  font-size: 24px;
}
.message .container h4 + p {
  text-transform: uppercase;
}
.message .container h3 {
  margin-bottom: 10px;
}
.message .container h3 + p {
  line-height: 130%;
  margin-bottom: 50px;
}
.message .container a, .message .container p {
  text-decoration: none;
  display: block;
  font-family: poppins, sans-serif;
  font-size: 13px;
  font-weight: 200;
  color: #ffffff;
}
.message .contacts-inner-wrap {
  display: flex;
  justify-content: space-between;
}
.message .contacts-inner-wrap > div {
  flex-basis: 35%;
}
.message .contacts-inner-wrap > div h4 {
  margin-bottom: 15px;
}

a:hover,
.submit:hover,
.more-inf:hover {
  box-shadow: 0 0 10px #7bc34d;
}

footer {
  background-color: #262626;
  padding-top: 30px;
}
footer .container {
  flex-wrap: wrap;
}
footer .container > div {
  display: flex;
  padding: 5px 10px;
  margin-bottom: 15px;
}
footer h4 {
  font-family: Oswald;
  font-size: 20px;
  color: #79c64a;
  margin-bottom: 15px;
  font-weight: 300;
}
footer p, footer a {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.43;
  color: rgba(128, 128, 128, 0.75);
}
footer .description,
footer .links-wrapper {
  flex-basis: 50%;
  display: flex;
}
footer .description {
  flex-shrink: 1;
}
footer .links-wrapper {
  flex-grow: 1;
}
footer .description-inner {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: flex-start;
}
footer .description-inner img {
  margin-bottom: 15px;
}
footer .links-wrapper {
  justify-content: space-between;
}
footer .social-footer {
  display: flex;
}
footer .social-footer li {
  margin-left: 10px;
  box-sizing: border-box;
}
footer .social-footer a {
  padding: 10px;
}
footer .social-footer i {
  font-size: 20px;
  color: #808080;
}
footer .social-legal-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
footer .legal-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
footer .divider {
  width: 100%;
  height: 2px;
  background-color: #7bc34d;
}
footer a:hover {
  transform: scale(1.1);
  color: #fff;
  transition-duration: 0.3s;
}
footer i:hover {
  transform: scale(1.3);
  box-shadow: 0 0 10px #fff;
  color: white;
}

/*# sourceMappingURL=style.css.map */
