@import "./normalize.css"
@import "./settings.css"
h1, h2, h3, h4, h5, h6, p
    margin: 0
 
// .active
//     font-size: 60px
.visually-hidden
    width: 1px
    height: 0
    position: absolute
    top: 1px
    left: -9999px
    overflow: hidden
    clip: rect(0, 0, 0, 0)

.wr-header
    position: relative
    .logo-contact
        max-width: 504px
        width: 100%
        display: flex
        flex-wrap: wrap 
        justify-content: space-between
        align-items: center
    &::before
        content: " "
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        background-color: rgba(155, 72, 72, 0.1)
        z-index: 0
        
.main-header
    display: flex
    background-color: #262626
    min-height: 105px
    font-family: poppins, sans-serif
.centering-wrapper
    display: flex
    max-width: 932px
    width: 100%
    justify-content: space-between
    align-items: baseline
    
    .container
        width: 100%
        justify-content: space-between
        align-items: center
    p 
        font-weight: 400
        color: #ffffff
        font-size: 13px 
        letter-spacing: -0.17px
    span 
        font-weight: 500
        color: #7ac34c
        font-size: 15px
    p, span 
        display: block
        margin: 0
    ul
        a 
           position: relative


.address-li-item a:before
    content: url(../media/placeholder.png)
    position: absolute
    left: -20px
    top: 5px
.email-li-item a:before
    content: url(../media/email.png)
    position: absolute
    top: 5px
    left: -30px

.call-us-li-item a:before
    content: url(../media/call-logo.png)
    position: absolute
    top: 4px
    left: -30px

.container.navigation
    box-sizing: border-box
    min-height: 42px
    justify-content: space-between
    a
        padding: 5px

.social-nav-header,
.main-nav,
.main-nav ul
    
    display: flex
    align-items: center
    
    

         
.social-nav-header
    max-width: 155px
    width: 100%
    justify-content: flex-end
    align-items: baseline
    li
        
        padding: 0
        margin-left: 12px

.main-nav
    width: 530px

    ul
        width: 100%
        flex-wrap: wrap
        justify-content: space-between
    
    a
        display: inline-block
        font-family: poppins, sans-serif
        font-size: 15px
        font-weight: 500
        color: #000
        padding: 5px
    li:last-child a
        padding-right: 0
    
        
.first-screen
    background-image: url("../media/bg-first.png")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    
    height: calc(100vh - 146px)
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 114px
    position: relative
    &::before
        content: " "
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        background-color: rgba(0, 0, 0, 0.2)
        z-index: 0
    .container
        display: block
        margin-left: 24%
        max-width: 430px
        color: #f9f9f9
        position: relative
        z-index: 5
      

        p
            font-family: poppins, sans-serif
            font-weight: 400
            font-size: 14px
            
        h2
            font-family: oswald, sans-serif       
            font-weight: 700
            font-size: 47px
            letter-spacing: -1px
            margin-bottom: 15px
a.more-inf
    display: inline-block
    font-family: oswald, sans-serif
    font-weight: 200
    font-size: 16px
    line-height: 28px
    letter-spacing: 1px
    padding: 14px 20px
    background-color: #93c948
    color: #fff
    
    &:hover
        background-color: #7ac34c
    &:active 
        background-color: #6bb83b
        transform: translateY(4px)

.creation
    .container
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        div
            flex-basis: 25%
    text-align: center
    letter-spacing: -1px
    margin-bottom: 160px
    display: block
    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 32px
        letter-spacing: -1px
        margin-bottom: 27px
        position: relative
        &::after
            position: absolute
            content: " "
            width: 115px
            height: 3px
            background-color: #7ac34c
            bottom: -13px
            // left: calc(50% - 58px)
            left: 50%
            transform: translateX(-50%)
    p
        font-family: raleway, sans-serif
        font-weight: 700
        font-size: 16px
        line-height: 24px
        padding: 3px 10px
        margin: 0 10px
        margin-bottom: 50px
    h4 
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 20px
        margin-bottom: 25px
        &+p 
            margin-bottom: 0
    img 
        height: 51px
        margin-bottom: 35px
    



.wr-about
    margin-bottom: 123px
    .container
        justify-content: flex-end
        background-image: url("../media/bg-about-people.jpg")
        background-size: contain
        background-repeat: no-repeat
        
.about
    display: flex
    flex-direction: column
    flex-basis: 43%
    padding-top: 10px
    justify-content: center 
    align-items: flex-start
        
    h2, h3
        text-transform: uppercase
        font-weight: 400
    h2 
        font-family: oswald, sans-serif       
        font-size: 40px
        margin-bottom: 25px
    h3
        font-family: "sfpro regular", sans-serif
        font-size: 24px
        color: #98d074
        margin-bottom: 10px
    p
        font-family: raleway, sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 28px
        color: #808080
        margin-bottom: 30px
    a 
       font-size: 19px
       font-weight: 400

.projects
    max-width: 1400px
    margin-bottom: 75px
    
    .wrap
        text-align: center
    
    .img-wrapper
        flex-direction: row
        flex-wrap: wrap
        overflow: hidden
        margin-bottom: 55px
        div
            display: inline-block
            max-width: 420px
            max-height: 320px
            margin: 7px

    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 32px
        text-transform: uppercase
        text-align: center
        margin-bottom: 25px
    p
        font-family: Raleway, sans-serif
        font-size: 16px
        font-weight: 600
        text-align: center
        margin-bottom: 50px

    
    .more-inf
        font-size: 20px
        font-weight: 500
        text-transform: uppercase
        width: max-content
        

.team
    display: block
    margin-bottom: 47px
    h3, p
        text-align: center
    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 32px
        text-transform: uppercase
        margin-bottom: 20px
    p    
        font-family: Raleway, sans-serif
        font-size: 16px
        font-weight: 600
        margin-bottom: 35px
    .staff
        display: flex
        flex-basis: 20%
        flex-wrap: wrap
        justify-content: space-around
        img
            margin-bottom: 15px
            height: 253px
            width: 233px
            object-fit: cover
            object-position: center
            border-radius: 10px
        h4
            font-family: oswald, sans-serif
            font-size: 23px
            text-align: center
            font-weight: 400
            margin-bottom: 10px
        p    
            font-weight: 400
            color: #808080

.work-organizing
    background-color: #7bc34d
    padding-top: 100px
    margin-bottom: 60px
    h3, p
        margin: 0 auto
    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 32px
        color: #ffffff
        text-transform: uppercase
        text-align: center
        margin-bottom: 30px
        position: relative
        &::after
            position: absolute
            content: " "
            width: 115px
            height: 3px
            background-color: #ffffff
            bottom: -13px
            left: calc(50% - 58px)
    p    
        font-family: poppins, sans-serif
        text-align: center
        font-size: 15px
        font-weight: 500
        line-height: 22px
        
    >p
        font-family: Raleway, sans-serif
        text-align: center
        font-size: 16px
        font-weight: 600
        color: #ffffff
        margin-bottom: 95px
    .container
        justify-content: space-between
        flex-wrap: wrap
        div
            flex-basis: 20%
            background-color: #ffffff
            border: 5px solid 
            border-radius: 8px
            padding: 40px 10px
            text-align: center
        div:first-child
            border-color: #bb64ba
        div:nth-child(2)
            border-color: #4c8ec6
        div:nth-child(3)
            border-color: #4dc3c0
        div:nth-child(4)
            border-color: #e0416e
        
        h4 
            font-family: oswald, sans-serif
            font-weight: 400
            font-size: 20px
            color: #000000
            margin-bottom: 15px
    img
        height: 40px
        margin-bottom: 15px

.feedback
    // min-height: 410px
    padding-top: 25px
    flex-direction: column
    align-content: center

    h3
        font-family: oswald, sans-serif
        font-weight: 400
        font-size: 32px
        text-align: center
        text-transform: uppercase
        margin-bottom: 80px
    .responsive
        max-width: 90%
        margin: 0 auto
    .imgs-wr
        max-width: 35%
        margin: 0 auto
        box-sizing: border-box
        padding: 0 15px
        
    .slick-list
        margin-bottom: 70px
    .slick-dots li button:before
        font-size: 18px
        color: #7bc34d 
    h4
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 20px
        margin: 15px 7px 5px
        letter-spacing: 1px
    span 
        font-family: raleway, sans-serif
        font-weight: 400
        font-size: 15px
        color: #a6a5a5
    p 
        clear: both
        font-family: poppins, sans-serif
        font-size: 16px
        font-weight: 500
        line-height: 27px
        color:#808080
        padding: 0 5px
    img 
        float: left
        margin: 7px




.blog
    min-height: 1350px
    text-align: center
    margin-bottom: 80px
    .container
        
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        box-sizing: border-box
        margin-bottom: 30px
        
        >div
            box-sizing: border-box
            min-width: 270px
            max-width: 30%
            border: 5px solid #93c948
            margin-bottom: 75px        
    h3 
        font-family: oswald, sans-serif
        font-weight: 400
        font-size: 32px
        text-transform: uppercase
        margin-bottom: 35px
    h3+p
        font-family: Raleway, sans-serif
        font-size: 16px
        font-weight: 600
        margin-bottom: 60px
    .img-wrapper
        display: flex
        justify-content: center
        align-items: center
        height: 245px
        overflow: hidden

.blog-contents
    padding: 15px 30px
    text-align: justify
    h4 
        font-family: raleway, sans-serif
        font-size: 20px
        font-weight: 600    
        margin-bottom: 33px
        color: #585858
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        &:hover
            overflow: visible
            white-space: normal
            margin-bottom: 10px

    p
        font-family: poppins, sans-serif
        font-size: 16px
        font-weight: 500
        color: #5c5c5c
        text-align: justify
        margin-bottom: 15px
    .more-inf
        box-sizing: border-box
        padding: 5px 19px 5px 10px
        text-transform: uppercase
        border-radius: 20px
        font-weight: 400
        float: left
        margin-bottom: 10px
        position: relative
        &::after
            position: absolute
            content: " "
            background-image: url("../media/rarr.png")
            width: 20px
            height: 6px
            top: 16px
    .admin
        font-family: oswald, sans-serif
        font-weight: 400
        font-size: 16px
        line-height: 28px
        letter-spacing: 1px
        text-transform: uppercase
        background-color: #ffffff
        border-radius: 20px
        padding: 5px
        color: #93c948
        float: right
        &:hover
            background-color: #cdee9f

a.blog-btn
    font-weight: 500
    font-size: 23px
    text-transform: uppercase

.faq
    flex-direction: column
    min-height: 760px
    align-items: center
    .collapsable-menu
        display: flex
        justify-content: space-between
    
    .accordion
        flex-basis: 48%
        h3
            font-family: oswald, sans-serif
            font-weight: 500
            font-size: 23px
       
    >div
        max-height: 100px 
    >h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 33px
        margin-bottom: 15px
        outline-color: #71bf3f

    >p
        font-family: raleway, sans-serif
        font-size: 16px
        font-weight: 600    
        margin-bottom: 85px
        color: #585858  
    .ui-accordion-header-active,
    .ui-button:active,
    .ui-state-active   
        background-color: #93c948
        border-color: #7bc34d
.ui-accordion .ui-accordion-header
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 24px
        outline-color: #71bf3f
.ui-widget-content, .ui-accordion-content-active
    height: 260px 
    overflow: auto 

.clients
    background-color: #71bf3f
    min-height: 520px
    display: flex
    align-items: center
    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 40px
        text-transform: uppercase
        color: #fff
        flex-basis: 40%
        text-align: center
    .container
        align-items: center
        div
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            min-height: 300px

        a 
            padding: 5px
            &:nth-child(2)
                padding: 25px
            &:nth-child(5)
                padding-top: 45px
.message
    background-color: #d65e70
    min-height: 460px
    display: flex
    flex-wrap: wrap
    .container
        align-items: center
        h3, h4
            font-family: oswald, sans-serif
            font-weight: 400
            font-size: 32px
            text-transform: uppercase
            color: #fff
        h4
            font-size: 24px
            &+p
                text-transform: uppercase


        a, p
            text-decoration: none
            display: block    
            font-family: poppins, sans-serif
            font-size: 13px
            font-weight: 200
            color: #ffffff
        >div
            flex-basis: 48%
            justify-content: space-around
            padding: 5px 15px
    .contacts-inner-wrap
        display: flex
        justify-content: space-between
    
footer
    background-color: #262626
    min-height: 385px
    