@import "./normalize.css"
@import "./settings.css"
h1, h2, h3, h4, h5, h6, p
    margin: 0
 
.visually-hidden
    width: 1px
    height: 0
    position: absolute
    top: 1px
    left: -9999px
    overflow: hidden
    clip: rect(0, 0, 0, 0)
// .hidden 
//     display: none !important

.wr-header
    position: relative
    
    .logo-contact
        max-width: 504px
        width: 100%
        display: flex
        flex-wrap: wrap 
        justify-content: space-between
        align-items: center
    &::before
        content: " "
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        background-color: rgba(155, 72, 72, 0.1)
        z-index: 0
    .mob-nav
        @media (max-width: 768px)
            display: none
    
.main-header
    display: flex
    background-color: #262626
    min-height: 105px
    font-family: poppins, sans-serif
    @media (max-width: 768px)
        min-height: auto
.centering-wrapper
    display: flex
    max-width: 932px
    width: 100%
    justify-content: space-between
    align-items: baseline
    .logo 
        padding: 10px
    .container
        width: 100%
        justify-content: space-between
        align-items: center
    p 
        font-weight: 400
        color: #ffffff
        font-size: 13px 
        letter-spacing: -0.17px
    span 
        font-weight: 500
        color: #7ac34c
        font-size: 15px
    p, span 
        display: block
        margin: 0
    ul
        a 
            position: relative
        
               


.address-li-item a:before
    content: url(../media/placeholder.png)
    position: absolute
    left: -20px
    top: 5px
.email-li-item a:before
    content: url(../media/email.png)
    position: absolute
    top: 5px
    left: -30px

.call-us-li-item
    margin-right: 10px
    a:before
        content: url(../media/call-logo.png)
        position: absolute
        top: 4px
        left: -30px

.container.navigation
    box-sizing: border-box
    min-height: 42px
    justify-content: space-between
    a
        padding: 5px
    
        
.social-nav-header,
.main-nav,
.main-nav ul
    display: flex
    align-items: center
    @media (max-width: 768px)
            display: block
    
    

         
.social-nav-header
    max-width: 155px
    width: 100%
    justify-content: flex-end
    align-items: baseline
    i
        font-size: 16px
        color: #808080
        &:hover
            color: #000
            transform: scale(1.1)
    a 
        padding: 5px
    li
        
        padding: 0
        margin-left: 12px

.main-nav
    max-width: 530px
    width: 100%
    @media (max-width: 768px)
        position: absolute
        z-index: 6
        top: 105px
        background-color: rgb(240, 231, 229)
    .toggler
        display: none
        position: absolute
        top: -30px
        left: 10px
        z-index: 6
        background-color: rgb(240, 231, 229)
        @media (max-width: 768px)
            display: block
            .main-nav

    ul
        width: 100%
        flex-wrap: wrap
        justify-content: space-between
        @media (max-width: 768px)
            display: block
    a
        display: inline-block
        font-family: poppins, sans-serif
        font-size: 15px
        font-weight: 500
        color: #000
        padding: 5px


  

    
        
.first-screen
    background-image: url("../media/bg-first.png")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    height: calc(100vh - 146px)
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 114px
    position: relative
    @media screen and (max-width: 991px)
            height: auto
            margin-bottom: 20px
    &::before
        content: " "
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        background-color: rgba(0, 0, 0, 0.2)
        z-index: 0
    .container
        display: block
        margin-left: 24%
        max-width: 430px
        color: #f9f9f9
        position: relative
        z-index: 5
        @media screen and (max-width: 970px)
            margin-left: 2%

        p
            font-family: poppins, sans-serif
            font-weight: 400
            font-size: 14px
            
        h2
            font-family: oswald, sans-serif       
            font-weight: 700
            font-size: 47px
            letter-spacing: -1px
            margin-bottom: 15px
a.more-inf

    display: inline-block
    font-family: oswald, sans-serif
    font-weight: 200
    font-size: 16px
    line-height: 28px
    letter-spacing: 1px
    padding: 14px 20px
    background-color: #93c948
    color: #fff
    
    &:hover
        background-color: #7ac34c
    &:active 
        background-color: #6bb83b
        transform: translateY(4px)

.creation
    display: block           
    text-align: center
    letter-spacing: -1px
    margin-bottom: 160px
    @media screen and (max-width: 991px)
            margin-bottom: 15px
    .container
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        @media screen and (max-width: 991px)
                justify-content: space-around
        div
            flex-basis: 25%
            @media screen and (max-width: 991px)
                flex-basis: 40%

    
    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 32px
        letter-spacing: -1px
        margin-bottom: 27px
        position: relative
        @media screen and (max-width: 991px)
            margin-bottom: 15px
        &::after
            position: absolute
            content: " "
            width: 115px
            height: 3px
            background-color: #7ac34c
            bottom: -13px
            left: 50%
            transform: translateX(-50%)
    p
        font-family: raleway, sans-serif
        font-weight: 700
        font-size: 16px
        line-height: 24px
        padding: 3px 10px
        margin: 0 10px
        margin-bottom: 50px
        @media screen and (max-width: 991px)
                margin-bottom: 20px
    h4 
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 20px
        margin-bottom: 25px
        @media screen and (max-width: 991px)
            margin-bottom: 15px
        &+p 
            margin-bottom: 0
            @media screen and (max-width: 991px)
                margin-bottom: 15px
    img 
        height: 51px
        margin-bottom: 35px
        @media screen and (max-width: 991px)
            margin-bottom: 15px
    



.wr-about
    margin-bottom: 123px
    @media screen and (max-width: 991px)
            margin-bottom: 20px
    .container
        justify-content: flex-end
        background-image: url("../media/bg-about-people.jpg")
        background-size: contain
        background-repeat: no-repeat
        @media screen and (max-width: 991px)
            background-image: none
    .about
        display: flex
        flex-direction: column
        flex-basis: 43%
        padding-top: 10px
        justify-content: center 
        align-items: flex-start
        @media screen and (max-width: 991px)
            flex-basis: 100%
            align-items: center
            padding: 10px
        h2, h3
            text-transform: uppercase
            font-weight: 400
        h2 
            font-family: oswald, sans-serif       
            font-size: 40px
            margin-bottom: 25px
        h3
            font-family: "sfpro regular", sans-serif
            font-size: 24px
            color: #98d074
            margin-bottom: 10px
        p
            font-family: raleway, sans-serif
            font-weight: 500
            font-size: 16px
            line-height: 28px
            color: #808080
            margin-bottom: 30px
        a 
            font-size: 19px
            font-weight: 400
    

.projects
    max-width: 1400px
    margin-bottom: 75px
    @media screen and (max-width: 991px)
            margin-bottom: 20px
    .wrap
        display: flex
        flex-direction: column
        align-items: center
    
    .img-wrapper
        display: flex
        flex-direction: row
        flex-wrap: wrap
        overflow: hidden
        margin-bottom: 55px
        justify-content: space-around
        @media screen and (max-width: 991px)
            margin-bottom: 20px
        div
            flex-basis: 32%
            overflow: hidden
            margin-bottom: 10px
            position: relative
            &::before
                position: absolute
                content: " "
                left: 0
                right: 0
                bottom: 0
                top: 0
                background-color: #98d074
                z-index: -5
        
                

        img 
            object-position: center
            object-fit: cover
            height: 100%
            width: 100%
            transition-duration: .5s
            &:hover
                transform: translate(-10px, -6px)
            


    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 32px
        text-transform: uppercase
        text-align: center
        margin-bottom: 25px
    p
        font-family: Raleway, sans-serif
        font-size: 16px
        font-weight: 600
        text-align: center
        margin-bottom: 50px
        @media screen and (max-width: 991px)
            margin-bottom: 20px

    
    .more-inf
        font-size: 20px
        font-weight: 500
        text-transform: uppercase
        width: max-content
        

.team
    display: block
    margin-bottom: 83px
    h3, p
        text-align: center
    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 32px
        text-transform: uppercase
        margin-bottom: 20px
    p    
        font-family: Raleway, sans-serif
        font-size: 16px
        font-weight: 600
        margin-bottom: 35px
    .staff
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        div
            width: 20%
            @media screen and (max-width: 970px)
                width: 35%
                margin-bottom: 10px
        img
            margin-bottom: 15px
            // height: 253px
            width: 100%
            object-fit: contain
            object-position: center
            border-radius: 10px
        h4
            font-family: oswald, sans-serif
            font-size: 23px
            text-align: center
            font-weight: 400
            margin-bottom: 10px

        p    
            font-weight: 400
            color: #808080
            text-align: center
            margin-bottom: 0


.work-organizing
    padding: 96px 0 150px
    margin-bottom: 61px
    background-image: url("../media/bg-our_work.svg")
    background-position: center bottom
    background-repeat: no-repeat
    background-size: cover
    @media screen and (max-width: 991px)
            padding: 20px 0 80px
            margin-bottom: 5px
    
    
    h3, p
        text-align: center
    h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 32px
        color: #ffffff
        text-transform: uppercase
        margin-bottom: 30px
        position: relative
        &::after
            position: absolute
            content: " "
            width: 115px
            height: 3px
            background-color: #ffffff
            bottom: -13px
            left: 50%
            transform: translateX(-50%)
    p    
        font-family: poppins, sans-serif
        font-size: 15px
        font-weight: 500
        line-height: 22px
        
    >p
        font-family: Raleway, sans-serif
        font-size: 16px
        font-weight: 600
        color: #ffffff
        margin-bottom: 95px
        @media screen and (max-width: 991px)
            margin-bottom: 20px
    .container
        justify-content: space-between
        flex-wrap: wrap
        @media screen and (max-width: 991px)
            justify-content: space-around        
        div
            width: 20%
            background-color: #ffffff
            border: 5px solid 
            border-radius: 8px
            padding: 40px 10px 35px
            text-align: center
            @media screen and (max-width: 768px)
                width: 35%
                margin-bottom: 10px
                max-height: 150px
                overflow-y: scroll


                
               
        div:first-child
            border-color: #bb64ba
        div:nth-child(2)
            border-color: #4c8ec6
        div:nth-child(3)
            border-color: #4dc3c0
        div:nth-child(4)
            border-color: #e0416e
        
        h4 
            font-family: oswald, sans-serif
            font-weight: 400
            font-size: 20px
            color: #000000
            margin-bottom: 15px
    img
        height: 40px
        margin-bottom: 15px

.feedback
    padding-top: 25px
    flex-direction: column
    align-content: center
    margin-bottom: 102px
    @media screen and (max-width: 991px)
        margin-bottom: 40px

    h3
        font-family: oswald, sans-serif
        font-weight: 400
        font-size: 32px
        text-align: center
        text-transform: uppercase
        margin-bottom: 72px
        @media screen and (max-width: 991px)
            margin-bottom: 20px
    .responsive
        max-width: 90%
        margin: 0 auto
    .feedback-item-wr
        max-width: 35%
        display: flex
        flex-wrap: wrap
        margin: 0 auto
        box-sizing: border-box
        padding: 10px 15px
        .name-post
            flex-shrink: 1
        img
            margin-right: 5px
            height: 40px
            width: 60px
            object-position: center
            object-fit: cover
            border-radius: 50%
            border: 4px solid #ffffff
           
          
    .slick-prev, 
    .slick-next,
    .slick-prev:before,
    .slick-next:before
        content: " "
        position: absolute
        display: none
        font-size: 0
    .slick-list
        margin-bottom: 57px
        @media screen and (max-width: 991px)
            margin-bottom: 20px
    .slick-dots li button:before
        font-size: 15px
        color: #7bc34d 
    h4
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 20px
        letter-spacing: 1px
    span
        font-family: raleway, sans-serif
        font-weight: 400
        font-size: 15px
        color: #a6a5a5
    p 
        clear: both
        font-family: poppins, sans-serif
        font-size: 16px
        font-weight: 500
        line-height: 27px
        color: #808080
        padding: 0 5px
    




.blog
    text-align: center
    margin-bottom: 78px
    @media screen and (max-width: 991px)
        margin-bottom: 30px

    .container
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        align-items: stretch
        
        margin-bottom: 30px
        @media screen and ( max-width: 414px )
                justify-content: space-around

        >div
            box-sizing: border-box
            width: 30%
            border: 5px solid #93c948
            margin-bottom: 78px       
            position: relative 
            @media screen and (max-width: 991px)
                margin-bottom: 20px
                width: 48%
            @media screen and ( max-width: 414px )
                width: 95%

    h3
        font-family: Oswald, sans-serif
        font-weight: 400
        font-size: 32px
        text-transform: uppercase
        margin-bottom: 35px
        @media screen and (max-width: 991px)
            margin-bottom: 20px
    h3+p
        font-family: Raleway, sans-serif
        font-size: 16px
        font-weight: 600
        margin-bottom: 60px
        @media screen and (max-width: 991px)
            margin-bottom: 20px
    .img-wrapper
            max-height: 51%
            overflow: hidden
            @media screen and ( max-width: 414px )
                margin-bottom: 10%
            
            img
                // width: 332px
                // height: 244px
                width: 100%
                height: 100%
                object-position: center
                object-fit: cover
    .date
        position: absolute
        top: 153px
        width: 42px
        height: 91px
        background-color: #8dc63f
        font-family: Oswald, sans-serif
        font-weight: 500
        text-transform: uppercase
        color: #ffffff
        .day
            font-size: 36px
            font-weight: 900
        .month
            font-size: 24px
        .year
            font-size: 18px
                        
            
      

.blog-contents
    padding: 10px 20px 10px 40px
    display: flex
    flex-direction: column
    h4 
        font-family: Oswald, sans-serif
        font-size: 24px
        font-weight: 600  
        letter-spacing: .94px  
        color: #585858
        //white-space: nowrap
        //overflow: hidden
        //text-overflow: ellipsis
        margin-bottom: 10px
        //&:hover
            overflow: visible
            white-space: normal
            margin-bottom: 10px
    p
        font-family: oswald, sans-serif
        font-size: 16px
        font-weight: 500
        letter-spacing: 0.55px
        color: #5c5c5c
        text-align: left
        line-height: 125%
        margin-bottom: 8px
    .inf-wrap
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    .more-inf
        box-sizing: border-box
        padding: 5px 24px 2px 10px
        text-transform: uppercase
        border-radius: 20px
        position: relative
        &::after
            position: absolute
            content: " "
            background-image: url("../media/rarr.png")
            width: 18px
            height: 6px
            top: 16px
    @media screen and ( max-width: 414px )
        p
            display: none
        h4
            font-size: 18px
    .admin
        font-family: oswald, sans-serif
        font-weight: 400
        font-size: 16px
        line-height: 28px
        letter-spacing: 1px
        text-transform: uppercase
        border-radius: 20px
        padding: 5px
        color: #93c948
        &:hover
            background-color: #cdee9f

a.blog-btn
    font-weight: 500
    font-size: 23px
    text-transform: uppercase

.faq
    flex-direction: column
    // min-height: 760px
    align-items: center
    @media screen and ( max-width: 991px )
        margin-bottom: 50px
    .collapsable-menu
        display: flex
        justify-content: space-between
    &::after
        content: " "
        width: 100%
        height: 510px
        background-color: transparent
        @media screen and ( max-width: 991px )
                display: none

    .collapsable-menu
        max-height: 100px 
        @media screen and ( max-width: 991px )
            max-height: initial
    .accordion
        flex-basis: 48%
        @media screen and ( max-width: 991px )
            flex-basis: 90%
        

        h3
            font-family: oswald, sans-serif
            font-weight: 500
            font-size: 23px
        p 
            font-family: SFProDisplay
            font-size: 20px
            line-height: 1.56
            text-align: left
            color: #8d8c8c
    >h3
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 33px
        margin-bottom: 15px
        outline-color: #71bf3f

    >p
        font-family: raleway, sans-serif
        font-size: 16px
        font-weight: 600    
        margin-bottom: 85px
        color: #585858  
        @media screen and ( max-width: 991px )
            margin-bottom: 15px    
    .ui-accordion-header-active,
    .ui-button:active,
    .ui-state-active   
        background-color: #93c948
        border-color: #7bc34d
    .ui-accordion .ui-accordion-header
            font-family: oswald, sans-serif
            font-weight: 500
            font-size: 24px
            outline-color: #71bf3f
    .ui-widget-content, .ui-accordion-content-active
        height: 260px 
        overflow: auto 


    .collapsable-menu
        @media screen and ( max-width: 991px )
            justify-content: space-around
            
    #accordion-col-2
        @media screen and ( max-width: 991px )
            display: none
    .accordion-col-2
        @media screen and ( min-width: 991px )
            display: none
    
        
.clients
    background-image: url("../media/bg-our_clients.svg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center top
    padding-top: 139px
    align-items: center
    @media screen and (max-width: 991px)
        padding-top: 20px
    .heading-wrapper
        padding-top: 90px
        align-self: flex-start
        flex-basis: 40%
        @media screen and (max-width: 991px)
            padding-top: 20px
            align-self: center
            margin-bottom: 20px
    h3
        display: block
        font-family: oswald, sans-serif
        font-weight: 500
        font-size: 40px
        text-transform: uppercase
        color: #fff
        text-align: center

    .container
        align-items: center
        max-width: 1220px
        width: 100%
        @media screen and (max-width: 991px)
            flex-direction: column
            justify-content: space-around
        div
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            align-items: baseline

        .img-container
            @media screen and (max-width: 991px)
                width: 80%
            @media screen and (max-width: 640px)
                flex-direction: column
                align-items: center
        a 
            margin-bottom: 70px
            padding: 5px

            @media screen and (max-width: 991px)
                margin-bottom: 20px


.message
    background-image: url('../media/bg-message.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    min-height: 460px
    padding: 0 10px
    display: flex
    flex-wrap: wrap
    position: relative
    z-index: 0
    &::before
        content: " "
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        background-color: rgba(6, 6, 6, 0.7)
        z-index: -1
    .container
        justify-content: space-between
        position: relative
        z-index: 5
        flex-wrap: wrap
        @media screen and (max-width: 991px)
            text-align: center
        .adress
            display: flex
            flex-basis: 40%
            //min-width: 320px
            flex-direction: column
            justify-content: space-between
            align-self: flex-start
            padding: 87px 0 0 15px
            @media screen and (max-width: 991px)
                padding: 20px 10px
                flex-basis: 100%
            
        
        .message-form
            flex-basis: 50%
            padding-top: 125px
            font-family: Poppins, sans-serif
            color: #fff
            @media screen and (max-width: 991px)
                padding: 20px 10px
                flex-basis: 100%
            
            form
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                background-color: transparent
                border: none
                
            
            input
                max-width: 30%
                
                &.more-inf
                    font-family: Poppins, sans-serif
                    font-weight: 500
                    background-color: #93c948
                    color: #fff
                    font-size: 18.5px
                    max-width: fit-content
                    padding: 10px 25px
                    border-bottom: none
                    border-radius: 25px
                    margin: 0 auto
                    @media (max-width: 768px)
                        max-width: none

            input, textarea
                box-sizing: border-box
                width: 100%
                padding: 5px
                background-color: transparent
                border: none
                border-bottom: 1px solid #fff
                margin-bottom: 10px
                font-family: Poppins, sans-serif
                color: #fff
                font-weight: 400
            textarea
                resize: none
                
                
            
        align-items: center
        h3, h4
            font-family: oswald, sans-serif
            font-weight: 400
            font-size: 32px
            text-transform: uppercase
            color: #fff
        h4
            font-size: 24px
            &+p
                text-transform: uppercase
        h3 
            margin-bottom: 10px
            &+p 
                line-height: 130%
                margin-bottom: 50px


        a, p
            text-decoration: none
            display: block    
            font-family: poppins, sans-serif
            font-size: 13px
            font-weight: 200
            color: #ffffff
        
    .contacts-inner-wrap
        display: flex
        justify-content: space-between
        >div 
            flex-basis: 35%
            h4
                margin-bottom: 15px
a:hover,
.submit:hover,
.more-inf:hover
    box-shadow: 0 0 10px #7bc34d     
    
footer
    background-color: #262626
    padding-top: 30px
    .container
        flex-wrap: wrap
        
        >div 
            display: flex
            padding: 5px 10px
            margin-bottom: 15px
    .footer-responsive
        @media screen and (max-width: 991px)
            display: flex
            flex-direction: column


    h4 
        font-family: Oswald
        font-size: 20px
        color: #79c64a
        margin-bottom: 15px
        font-weight: 300
    p, a
        font-family: Poppins
        font-size: 15px
        font-weight: 400
        line-height: 1.43
        color: rgba(128, 128, 128, 0.75)
    .description,
    .links-wrapper
        flex-basis: 50%
        display: flex
    .description 
        flex-shrink: 1
        margin-right: 10px
        @media screen and (max-width: 991px)
            margin-bottom: 10px
    .links-wrapper
        flex-grow: 1
        div
            margin-right: 10px
    .description-inner
        flex-basis: 50%
        flex-direction: column
        align-items: flex-start
        @media screen and (max-width: 991px)
            flex-basis: 100%
            justify-content: space-around
        img 
            margin-bottom: 15px
    .links-wrapper
        justify-content: space-between
        @media screen and (max-width: 991px)
            justify-content: space-around
    .social-footer
        display: flex
        li 
            margin-left: 10px
            box-sizing: border-box
        a 
            padding: 10px
        i
            font-size: 20px
            color: #808080
    .social-legal-info
        display: flex
        flex-wrap: wrap
        margin-bottom: 15px
    .legal-info
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: space-between
    .divider
        width: 100%
        height: 2px
        background-color: #7bc34d
    a:hover
    
        transform: scale(1.1)
        color: #fff
        transition-duration: .2s
    i:hover
        transform: scale(1.1)
        box-shadow: 0 0 10px #fff
        color: #fff

